* {
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  margin: 0px;
}

#header{
  width: 100%;
  height: 64px;
padding: 0px 32px;
text-align: right;
border-bottom: 1px rgb(233, 233, 233) solid;
}

ul, ol{
    list-style: none;
}

.nav li a{
    color: rgb(118, 118, 118);
    text-decoration: none;
    padding: 10px 0px;
    text-align: right;
    display: block;
}

.nav{
  display: block;
}

.nav li a{
  font-weight: bold;
  text-align: right;
  margin: 0px;
  padding: 0px 32px;
  display: block;
  height: 100%;
  min-width: 9px;
  font-size: 1em;
  width: max-content;
  line-height: 64px;
  border-width: 0px 1px;
  transition: box-shadow .2s linear;
}

.nav > li{
    float: right;
}

.nav li ul {
    display: none;
    background-color: white;
    position: absolute;
    margin-right: 5px;
}

.nav li:hover{
    background-color: rgb(210, 210, 210);
}

.nav li:hover > ul{
    display: block;
    background-color: white;
}

.nav li ul li a:hover{
  border-bottom: 1px rgb(233, 233, 233) solid;
}

#cuadro{
    margin-top: 10px;
}

#cuadro:hover{
   border:#f89406 solid 1px;
   transform:scale(1.06);
            -ms-transform:scale(1.06); 
            -moz-transform:scale(1.06);
            -webkit-transform:scale(1.06);
            -o-transform:scale(1.06);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
    transition: 500ms ease;
}

#texto{
    height: 104px;
}

#fila{
    margin-top: 40px;
}

#titulo{
    margin-top: 30px;
}

#empresa{
    min-width: 141px;
}